:root {
    --main-page-color: #d8a97d;
    --text-color-main: #3b1f02;
    --header-color-main: rgba(177, 63, 63);
    --font-headings: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font-headings);
    background: var(--main-page-color);
    overscroll-behavior: none;
    overflow-x: hidden;
    /* overflow-y: scroll; */
}

main {
    width: 100%;
    height: 100vh;
    margin-top: 87.5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    /* color: var(--text-color-main); */
}

span > a {
    color: var(--text-color-main);
}

.container {
    max-width: 100vw;
    padding: 0.5%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header-main-container {
    background: var(--header-color-main);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.main-logo {
    display: flex;
    font-size: 3vw;
    color: var(--text-color-main);
}

.header-main-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-list-paginas {
    position: relative;
    display: flex;
    list-style: none;
    margin-left: 20%;
}

.header-list-item {
    height: 100%;
    position: relative;
    display: inline-flex;
    margin: auto 60px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 1vw;
}

/* .wrapper-exposicao-empresa {
    width: 100vw;
    position: absolute;
} */

.slider-exposicao-empresa {
    position: absolute;
    top: 40vh;
    left: 2vw;
    width: 240%;
    height: 90%;
    overflow-y: auto;
}

.slider-inner {
    position: absolute;
    top: 5%;
    width: 70%;
    height: 70%;
    display: flex;
    /* justify-content: space-evenly; */
}

.slider-item {
    position: relative;
    width: 20%;
    height: 100%;
    overflow: hidden;
    margin-right: 2%;
    left: 4vw;
    justify-content: center;
}

.img {
    position: relative;
    left: -10%;
    width: 140%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.parallax-text {
    color: #b94008;
    margin: 0;
    width: fit-content;
    font-size: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.titulo {
    font-size: 5vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: 14%;
    width: 80%;
}

.text-section-1 {
    display: flex;
    min-width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
}

.texto-complementar {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2vw;
    position: relative;
    width: 85%;
}

.text-section-2 {
    display: flex;
    min-width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 45%;
}

.img-platform {
    max-width: 60%;
}

.slider-exposicao-empresa-2 {
    
}

.footer-main-container {
    background: var(--header-color-main);
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 3%;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-logos > a {
    font-size: 2.5vw;
}

.footer-links-socialmedia {
    display: block;
}

/* .slider-exposicao-empresa-2 {
    position: relative;
    top: 100vh;
    left: 30vw;
    width: 270%;
    height: 100%;
} */
